*, html, body {
  font-family: 'montserrat';
font-size: 1vw;
line-height: 1vw;
letter-spacing: normal;
text-align: left;

box-sizing: border-box;

--color-gray-0: #B9B9B9;
--color-gray-1: #D9D9D9;
--color-gray-2: #F8F8F8;

--color-accent: #97DDC8;
}

html, body {
  margin: 0;
  padding: 0;
}

.search-bar {
  border-radius: 1em;
  border-width: 0;
  padding: 0.33em 1em;
  background-color: var(--color-gray-2);
}

a {
  color: black;
  text-decoration: none;
}

.title-wrapper p, h1 {
  padding: 0;
}

.p-title {
  font-size: 8em;
  line-height: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.p-subtitle {
  color: var(--color-gray-0);
  text-align: center;
  margin: 0;
}

.btn {
  background-color: white;
  border: 1px solid;
  border-radius: 1em;
  padding: 0.33em;
  margin: 0 0.2em;
}

.btn-combo::after {
  content: '';
  border: solid black;
  border-width: 0 0.1em 0.1em 0;
  display: inline-block;
  padding: 0.2em;
  margin: 0 0 0 0.5em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
